{% extends 'base.html' %}

{% block title %}AR(1){% endblock %}

{% block content %}
<turbo-frame id="display-inline-chart">
  <div>
    <a class="text-blue-500" data-turbo-frame="line-chart" data-turbo-method="get" href="{% url 'inline-line-chart' %}">Line Chart</a>
  </div>
  <div>
    <canvas id="myChart" width="400" height="200"></canvas>
  </div>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line', // Change to 'line', 'pie', etc. for different chart types
      data: {
        labels: {{ labels|safe }},
        datasets: [{
          label: 'Data',
          data: {{ values|safe }},
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
          ],
          borderColor: [
            'rgba(54, 162, 235, 1)',
          ]
        }]
      },
      options: {}
    });
  </script>
</turbo-frame>
{% endblock %}
