{% extends 'base.html' %}

{% block title %}AR(1){% endblock %}

{% block content %}
  <h1 class="text-2xl font-bold">Simulate AR(1) Data as Line Chart</h1>
  <h2 class="text-sm mb-4 text-gray-500">Turbo Drive Demo</h2>
  <div>
    <a class="text-blue-500" data-turbo-method="get" href="{% url 'line-chart' %}">New Data</a>
  </div>
  <div>
    <a class="text-blue-500" data-turbo-method="get" href="{% url 'home' %}">Back</a>
  </div>
  <canvas id="myChart" width="400" height="200"></canvas>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line', // Change to 'line', 'pie', etc. for different chart types
    data: {
      labels: {{ labels|safe }},
      datasets: [{
        label: 'Data',
        data: {{ values|safe }},
        backgroundColor: [
          'rgba(54, 162, 235, 0.2)',
        ],
        borderColor: [
          'rgba(54, 162, 235, 1)',
        ]
      }]
    },
    options: {}
  });
</script>
{% endblock %}

