{% load turbo_helper %}

{% block content %}
  <div>
    <a class="text-blue-500" data-turbo-prefetch="false" data-turbo-method="get" href="{% url 'helper-stream' %}">Line Chart</a>
  </div>
  <div>
    <canvas id="myStreamedChart" width="400" height="200"></canvas>
  </div>
  <script>
    var ctx = document.getElementById('myStreamedChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line', // Change to 'line', 'pie', etc. for different chart types
      data: {
        labels: {{ labels|safe }},
        datasets: [{
          label: 'Data',
          data: {{ values|safe }},
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
          ],
          borderColor: [
            'rgba(54, 162, 235, 1)',
          ]
        }]
      },
      options: {}
    });
  </script>
{% endblock %}
